In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('campeonato-brasileiro-full.csv') # pd.read_xlsx para arquivos do excel

In [3]:
df

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado
0,1,1,29/3/2003,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,Brinco de Ouro,4,2,SP,RJ
1,2,1,29/3/2003,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,Arena da Baixada,2,0,PR,RS
2,3,1,30/3/2003,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,Maracanã,1,1,RJ,PR
3,4,1,30/3/2003,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,-,Serra Dourada,2,2,GO,PA
4,5,1,30/3/2003,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,Beira Rio,1,1,RS,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8020,8021,38,13/11/2022,16:03,Cuiaba,Coritiba,4-1-4-1,4-1-4-1,A. Cardoso de Oliveira,A. Ferreira,Cuiaba,Arena Pantanal,2,1,MT,PR
8021,8022,38,13/11/2022,16:03,Bragantino,Fluminense,4-2-3-1,4-2-3-1,M. Nogueira Barbieri,F. Diniz Silva,Fluminense,Nabizão,0,1,SP,RJ
8022,8023,38,13/11/2022,16:03,Corinthians,Atletico-MG,4-1-4-1,4-2-3-1,F. J. Monteiro Almeida,A. Stival,Atletico-MG,Neo Química Arena,0,1,SP,MG
8023,8024,38,13/11/2022,16:03,Internacional,Palmeiras,4-2-3-1,4-2-3-1,L. Venker de Menezes,A. Moreira Ferreira,Internacional,Estádio José Pinheiro Borda,3,0,RS,SP
8024,8025,38,13/11/2022,16:03,Goias,Sao Paulo,4-2-3-1,4-1-2-1-2,J. Ribeiro Ventura,R. Ceni,Sao Paulo,Estádio da Serrinha,0,4,GO,SP

In [5]:
df.head() # Função que retorna apenas as 5 primeiras linhas como padrão (util em DFs maiores).

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado
0,1,1,29/3/2003,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,Brinco de Ouro,4,2,SP,RJ
1,2,1,29/3/2003,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,Arena da Baixada,2,0,PR,RS
2,3,1,30/3/2003,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,Maracanã,1,1,RJ,PR
3,4,1,30/3/2003,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,-,Serra Dourada,2,2,GO,PA
4,5,1,30/3/2003,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,Beira Rio,1,1,RS,SP

In [6]:
df.info() # Retorna as informações do DF, principalmente em relação aos dados nulos.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8025 entries, 0 to 8024
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  8025 non-null   int64
 1   rodata              8025 non-null   int64
 2   data                8025 non-null   object
 3   hora                8025 non-null   object
 4   mandante            8025 non-null   object
 5   visitante           8025 non-null   object
 6   formacao_mandante   3051 non-null   object
 7   formacao_visitante  3051 non-null   object
 8   tecnico_mandante    3415 non-null   object
 9   tecnico_visitante   3415 non-null   object
 10  vencedor            8025 non-null   object
 11  arena               8025 non-null   object
 12  mandante_Placar     8025 non-null   int64
 13  visitante_Placar    8025 non-null   int64
 14  mandante_Estado     8025 non-null   object
 15  visitante_Estado    8025 non-null   object
dtypes: int64(4), object(12)
memory usage: 1003.3+ KB

In [7]:
# Qual foi a média de gols dos times mandantes e dos times visitantes?

In [9]:
df['mandante_Placar'].mean() # Função que retorna a média

1.5470404984423676

In [13]:
df['visitante_Placar'].mean()

1.0249221183800623

In [ ]:
# Criando uma coluna com o total de gols em cada partida e calculando a média de gols

In [15]:
df['Total_de_gols'] = df['mandante_Placar'] + df['visitante_Placar']

In [17]:
df.head()

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado,Total_de_gols
0,1,1,29/3/2003,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,Brinco de Ouro,4,2,SP,RJ,6
1,2,1,29/3/2003,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,Arena da Baixada,2,0,PR,RS,2
2,3,1,30/3/2003,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,Maracanã,1,1,RJ,PR,2
3,4,1,30/3/2003,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,-,Serra Dourada,2,2,GO,PA,4
4,5,1,30/3/2003,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,Beira Rio,1,1,RS,SP,2

In [18]:
df['Total_de_gols'].mean()

2.57196261682243

In [19]:
# Qual foi o time que mais venceu?

In [20]:
df['vencedor'].value_counts() # Conta cada valor da coluna 'vencedor'

vencedor
-                  2123
Sao Paulo           351
Flamengo            335
Santos              329
Internacional       324
Corinthians         314
Palmeiras           309
Atletico-MG         308
Fluminense          306
Gremio              295
Athletico-PR        295
Cruzeiro            293
Botafogo-RJ         229
Goias               200
Vasco               196
Coritiba            181
Figueirense         142
Sport               131
Vitoria             123
Bahia               115
Ponte Preta         114
Fortaleza            93
Juventude            85
Parana               83
Atletico-GO          72
Ceara                72
Chapecoense          70
Avai                 66
Sao Caetano          65
Nautico              54
America-MG           53
Criciuma             50
Paysandu             41
Bragantino           38
Guarani              36
Portuguesa           31
Cuiaba               20
Santa Cruz           15
Barueri              12
Santo Andre          11
Brasiliense          10
Ipatinga              9
CSA                   8
Gremio Prudente       7
Joinville             7
America-RN            4
Name: count, dtype: int64

In [22]:
df['vencedor'] = df['vencedor'].str.upper() # Coloca todos os dados em MAIUSCULO para tratar possiveis erros de analise

In [24]:
df['vencedor'].value_counts()

vencedor
-                  2123
SAO PAULO           351
FLAMENGO            335
SANTOS              329
INTERNACIONAL       324
CORINTHIANS         314
PALMEIRAS           309
ATLETICO-MG         308
FLUMINENSE          306
GREMIO              295
ATHLETICO-PR        295
CRUZEIRO            293
BOTAFOGO-RJ         229
GOIAS               200
VASCO               196
CORITIBA            181
FIGUEIRENSE         142
SPORT               131
VITORIA             123
BAHIA               115
PONTE PRETA         114
FORTALEZA            93
JUVENTUDE            85
PARANA               83
ATLETICO-GO          72
CEARA                72
CHAPECOENSE          70
AVAI                 66
SAO CAETANO          65
NAUTICO              54
AMERICA-MG           53
CRICIUMA             50
PAYSANDU             41
BRAGANTINO           38
GUARANI              36
PORTUGUESA           31
CUIABA               20
SANTA CRUZ           15
BARUERI              12
SANTO ANDRE          11
BRASILIENSE          10
IPATINGA              9
CSA                   8
GREMIO PRUDENTE       7
JOINVILLE             7
AMERICA-RN            4
Name: count, dtype: int64

In [25]:
df['vencedor'].value_counts().head()

vencedor
-                2123
SAO PAULO         351
FLAMENGO          335
SANTOS            329
INTERNACIONAL     324
Name: count, dtype: int64

In [26]:
# Qual estado possui o maior numero de vitórias?

In [46]:
df.head()

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado,Total_de_gols,Estado_vencedor
0,1,1,29/3/2003,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,GUARANI,Brinco de Ouro,4,2,SP,RJ,6,-
1,2,1,29/3/2003,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,ATHLETICO-PR,Arena da Baixada,2,0,PR,RS,2,-
2,3,1,30/3/2003,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,Maracanã,1,1,RJ,PR,2,-
3,4,1,30/3/2003,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,-,Serra Dourada,2,2,GO,PA,4,-
4,5,1,30/3/2003,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,Beira Rio,1,1,RS,SP,2,-

In [ ]:
# Criando a Coluna Estado_vencedor através de condições

In [52]:
for index, row in df.iterrows(): # itera os valores de index (indice) e row (todos os valores de uma linha).
    if df.loc[index,'mandante_Placar'] > df.loc[index,'visitante_Placar']:
        df.loc[index,'Estado_vencedor'] = df.loc[index,'mandante_Estado']
    elif df.loc[index,'mandante_Placar'] < df.loc[index,'visitante_Placar']:
        df.loc[index,'Estado_vencedor'] = df.loc[index,'visitante_Estado']
    else:
        df.loc[index,'Estado_vencedor'] = '-'

In [53]:
df.head()

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado,Total_de_gols,Estado_vencedor
0,1,1,29/3/2003,16:00,Guarani,Vasco,NaN,NaN,NaN,NaN,GUARANI,Brinco de Ouro,4,2,SP,RJ,6,SP
1,2,1,29/3/2003,16:00,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,ATHLETICO-PR,Arena da Baixada,2,0,PR,RS,2,PR
2,3,1,30/3/2003,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,Maracanã,1,1,RJ,PR,2,-
3,4,1,30/3/2003,16:00,Goias,Paysandu,NaN,NaN,NaN,NaN,-,Serra Dourada,2,2,GO,PA,4,-
4,5,1,30/3/2003,16:00,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,Beira Rio,1,1,RS,SP,2,-

In [62]:
df['Estado_vencedor'].value_counts()

Estado_vencedor
-     2123
SP    1617
RJ    1066
RS     704
MG     663
PR     559
SC     335
GO     272
BA     238
PE     200
CE     165
PA      41
MT      20
DF      10
AL       8
RN       4
Name: count, dtype: int64

In [63]:
# Função sort_values()

In [65]:
df.sort_values(by='Total_de_gols', ascending = False)
# Ordena o dataframe de acordo com os valores de uma coluna de forma crescente (ascending = True) ou decrescente (ascending = False)

,ID,rodata,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_Placar,visitante_Placar,mandante_Estado,visitante_Estado,Total_de_gols,Estado_vencedor
450,451,38,22/10/2003,21:40,Bahia,Santos,NaN,NaN,NaN,NaN,SANTOS,Fonte Nova,4,7,BA,SP,11,SP
2333,2334,1,11/5/2008,18:10,Portuguesa,Figueirense,NaN,NaN,NaN,NaN,-,Canindé,5,5,SP,SC,10,-
23,24,2,6/4/2003,18:00,Vasco,Goias,NaN,NaN,NaN,NaN,VASCO,São Januário,6,4,RJ,GO,10,RJ
1876,1877,32,1/11/2006,19:30,Athletico-PR,Vasco,NaN,NaN,NaN,NaN,ATHLETICO-PR,Kyocera Arena,6,4,PR,RJ,10,PR
6533,6534,3,5/5/2019,19:00,Gremio,Fluminense,4-2-3-1,4-1-4-1,Renato Gaúcho,F. Diniz Silva,FLUMINENSE,Arena do Grêmio,4,5,RS,RJ,9,RJ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7451,7459,20,11/9/2021,21:00,Santos,Bahia,4-1-4-1,4-4-2,F. Carille,D. Dabove,-,Estádio Urbano Caldeira,0,0,SP,BA,0,-
2358,2359,4,31/5/2008,18:10,Figueirense,Goias,NaN,NaN,NaN,NaN,-,Orlando Scarpelli,0,0,SC,GO,0,-
1360,1371,25,11/9/2005,16:00,Santos,Flamengo,NaN,NaN,NaN,NaN,-,Vila Belmiro,0,0,SP,RJ,0,-
4250,4253,3,2/6/2013,18:30,Atletico-MG,Sao Paulo,NaN,NaN,NaN,NaN,-,Independência,0,0,MG,SP,0,-
6413,6415,29,15/10/2018,20:00,Ceara,Botafogo-RJ,4-2-3-1,4-1-4-1,L. Cirne Lima de Lorenzi,J. Mannarino,-,Arena Castelão,0,0,CE,RJ,0,-

In [66]:
# Função unique

In [67]:
df['mandante'].unique()
# Retorna os valores unicos da coluna desejada

array(['Guarani', 'Athletico-PR', 'Flamengo', 'Goias', 'Internacional',
       'Criciuma', 'Juventude', 'Fortaleza', 'Cruzeiro', 'Vitoria',
       'Santos', 'Corinthians', 'Fluminense', 'Atletico-MG', 'Coritiba',
       'Gremio', 'Bahia', 'Figueirense', 'Paysandu', 'Ponte Preta',
       'Parana', 'Sao Caetano', 'Sao Paulo', 'Vasco', 'Botafogo-RJ',
       'Palmeiras', 'Brasiliense', 'Santa Cruz', 'America-RN', 'Sport',
       'Nautico', 'Ipatinga', 'Portuguesa', 'Avai', 'Santo Andre',
       'Barueri', 'Atletico-GO', 'Ceara', 'Gremio Prudente', 'America-MG',
       'Chapecoense', 'Joinville', 'CSA', 'Bragantino', 'Cuiaba'],
      dtype=object)

In [68]:
df['visitante'].unique()

array(['Vasco', 'Gremio', 'Coritiba', 'Paysandu', 'Ponte Preta',
       'Fluminense', 'Sao Paulo', 'Bahia', 'Sao Caetano', 'Figueirense',
       'Parana', 'Atletico-MG', 'Fortaleza', 'Santos', 'Internacional',
       'Guarani', 'Flamengo', 'Corinthians', 'Vitoria', 'Juventude',
       'Athletico-PR', 'Criciuma', 'Cruzeiro', 'Goias', 'Palmeiras',
       'Botafogo-RJ', 'Brasiliense', 'Santa Cruz', 'Nautico',
       'America-RN', 'Sport', 'Portuguesa', 'Ipatinga', 'Barueri',
       'Santo Andre', 'Avai', 'Gremio Prudente', 'Atletico-GO', 'Ceara',
       'America-MG', 'Chapecoense', 'Joinville', 'CSA', 'Bragantino',
       'Cuiaba'], dtype=object)

In [69]:
df['mandante'].nunique() # Retorna a quantidade de elementos unicos

45

In [70]:
df['visitante'].nunique()

45

In [72]:
# Qual time fez mais gols no campeonato brasileiro?

In [73]:
by_clube = df.groupby('mandante')

In [78]:
by_clube['mandante_Placar'].sum().sort_values(ascending = False)

mandante
Santos             702
Sao Paulo          656
Flamengo           652
Atletico-MG        649
Athletico-PR       611
Palmeiras          606
Gremio             606
Internacional      605
Fluminense         594
Cruzeiro           590
Corinthians        560
Botafogo-RJ        498
Goias              459
Vasco              437
Coritiba           387
Vitoria            312
Figueirense        311
Sport              291
Ponte Preta        256
Bahia              255
Fortaleza          204
Juventude          194
Parana             186
Avai               171
Ceara              160
Atletico-GO        158
Chapecoense        149
Paysandu           132
Nautico            131
Criciuma           121
Sao Caetano        120
America-MG         112
Bragantino          91
Portuguesa          90
Guarani             83
Santa Cruz          50
Barueri             35
Cuiaba              35
Santo Andre         29
Ipatinga            28
Brasiliense         26
Gremio Prudente     25
Joinville           19
CSA                 17
America-RN          12
Name: mandante_Placar, dtype: int64